/* error */
.error {
  width: 100%;
  height: calc(100vh - 61px - 178px);
  background-color:var(--color-b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error h1 {
  color: var(--color-white);
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}
.error button {
  margin-bottom: 10px;
  color: blue;
  transition: all 0.3;
  font-size: 22px;
}
.error button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}
/* error */